body {
    background: #fff;
}

.title {
    text-align: center;
    font-size: 50px;
    color: #000;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .discription {
      font-size: 20px;
      color: #000;
  }

  .discription span {
      color: red;
  }

  .task {
      display: flex;
  }

  .before {
      margin-right: 50px;
  }