body {
    font-size: 15px;
    background: #fff;
}

.title {
    text-align: center;
    font-size: 50px;
    color: #000;
}

.text {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 300px;
    line-height: 1.3;
}

.subtitle {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

/*зАДАЧА 1
============*/

table, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.discription {
    font-size: 20px;
    color: #000;
}

.discription span {
    color: red;
}

.table {
    display: flex;
}

.table__before {
    margin-right: 50px;
}

/*//зАДАЧА 1
============*/

/*зАДАЧА 3
============*/

.list {
    display: flex;
}

.list__before {
    margin-right: 50px;
}

/*//зАДАЧА 3
============*/